ion-card{
    --background:var(--ion-color-secondary);
    --color:white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.barber-card{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap:1.3rem;
    margin-bottom: 1rem;
}

.barber-card p{
    margin: 0;
}

.barber-content{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-image{
    position: relative;
    bottom: 50px;
}