<!-- <ion-card *ngFor="let item of barbers.Value">
  <ion-card-header style="padding-bottom: 6px;">
    <ion-card-title style="color: white;">{{item.Value.FirstName}} {{item.Value.LastName}}</ion-card-title>
    {{getStatusName(item.Value.Status)}}
  </ion-card-header>

  <ion-card-content>
    <b>Phone:</b> {{item.Value.PhoneNumber}}
  </ion-card-content>

  <ion-button fill="clear" style="color:white;">Details</ion-button>
</ion-card> -->

<ng-container *ngIf="loadedPic">
  <div class="barber-card" *ngFor="let item of barbers.Value">
    <div style="height: 81px;width: 81px;">
      <img [src]="item.Value.ImageUrl" style="height: 81px;width: 81px;border-radius: 16px;">
      <div class="status-image">
        <img [src]="getStatusName(item.Value.Status)=='Active'?'../../../../assets/images/activeBarber.png':'../../../../assets/images/inActiveBarber.png'">
      </div>
    </div>

    <div class="barber-content">
      <div class="info">
        <p style="font-weight: 600;font-size: 16px;margin-top: 10px;">{{item.Value.FirstName}} {{item.Value.LastName}}</p>
        <p style="font-size: 14px;">Phone: {{item.Value.PhoneNumber}}</p>
        <p fill="clear" style="color:var(--ion-color-primary);margin-top: 10px;font-size: 14px;" (click)="showDetails(item.Value.BarberId,item.Links)">Update ></p>
      </div>
    </div>
  </div>
</ng-container>
