
<ng-container *ngIf="loadedPic">
  <div class="barber-card" *ngFor="let item of barbers.Value" [style.display]="allLoaded ? 'flex' : 'none'">
    <div style="height: 81px;width: 81px;">
      <img [src]="item.Value.ImageUrl" style="height: 81px;width: 81px;border-radius: 16px;" (load)="onImageLoad()">
      <div class="status-image">
        <img [src]="getStatusName(item.Value.Status)=='Active'?'../../../../assets/images/activeBarber.png':'../../../../assets/images/inActiveBarber.png'">
      </div>
    </div>

    <div class="barber-content">
      <div class="info">
        <p style="font-weight: 600;font-size: 16px;">{{item.Value.FirstName}} {{item.Value.LastName}}</p>
        <p style="font-size: 14px;">Phone: {{item.Value.PhoneNumber}}</p>
        <p fill="clear" style="color:var(--ion-color-primary);margin-top: 10px;font-size: 14px;" (click)="showDetails(item.Value.BarberId,item.Links)">Update ></p>
      </div>
    </div>
  </div>
</ng-container>
