
<div class="app-card">
  <div class="app-info">
    <div class="pic">
      <img [src]="appointmnet.Barber.ImageUrl">
    </div>
    <div class="info">
      <p style="margin-bottom: 5px;font-size: 16px;font-weight: 700;">
        {{formatDate(appointmnet.Date)}},
        {{getFormattedTime(appointmnet.StartTime) | date: 'h:mm a'}}
      </p>
      <div style="font-size: 13px;color: #A1A1A1;margin-top: 5px;">
        <p>{{appointmnet.Barber.FirstName}} {{appointmnet.Barber.LastName}}</p>
        <p style="margin-top: 2px;">
          <ng-container *ngFor="let service of appointmnet.Services;let j=index">
            {{j==appointmnet.Services.length-1?service.Name:service.Name+', '}}
          </ng-container>
        </p>
      </div>
    </div>
  </div>
  <div class="service-price">
    <p style="font-size: 14px;font-weight: 700;">{{appointmnet.Price}} RSD</p>
  </div>
</div>