
.header{
    font-size: 1.5rem;
    padding: 1rem;
}

ion-col{
    text-align: center;
}

.weekDays{
    box-shadow: 0 0 0.5px 0.5px var(--ion-color-tertiary);
}

.dayAvaiable{
    box-shadow: 0 0 0.5px 0.5px var(--ion-color-tertiary);
    background-color:white;
}

.dayUnavaiable{
    box-shadow: 0 0 0.5px 0.5px var(--ion-color-tertiary);
    background-color: lightgray;
}

.startDay{
    color: firebrick;
}

.dayHeader{
    padding-top: 10px;
}
