
<ion-modal #modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-content>

      <ion-toolbar>
        <ion-title>Chose appointment time</ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="modal.dismiss();isModalOpen=false">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>

      <div class="times" >
        <ng-container *ngFor="let time of availableTimes; let i = index">
          <div
            class="timeItem"
            *ngIf="time!='0'"
            (click)="choosenTime($event, i)"
            [ngClass]="{'selected': selectedTimeIndex === i}"
          >
            {{time}}
          </div>
        </ng-container>
      </div>

      <div style="display: flex;justify-content: center;">
        <div *ngIf="showSpinner" style="margin-top: 2rem;">
          <ion-spinner color="blue"></ion-spinner>
        </div>
        <ion-button *ngIf="!showSpinner" expand="block" class="ion-button-form" style="width: 80%;margin-top: 2rem;" (click)="createAppointment()">
          Make appointment
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-grid class="ion-no-padding" style="height: 70%;"> 
  <ion-row class="header">
      <ion-icon name="caret-back-outline" color="secondary" (click)="prevMonth()"></ion-icon>
      <div style="margin: 0rem 1.3rem;">{{currentMonth | date: 'MMMM yyyy'}}</div>
      <ion-icon name="caret-forward-outline" color="secondary" (click)="nextMonth()"></ion-icon>
  </ion-row>
  

  <ion-row>
    <ion-col *ngFor="let weekday of weekDays" class="weekDays">
      {{weekday}}
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let week of daysInMonth" [style.height]="calcHeightWeek()">
    <ion-col *ngFor="let day of week" [class]="day==0 || day<=startDay?'dayUnavaiable':'dayAvaiable'" (click)="showModal(day)">
      <div *ngIf="day!=0" [class]="day==startDay?'dayHeader startDay':'dayHeader'">
        {{day}}
      </div>
      <div *ngIf="day!=0 && day>startDay" [ngClass]="addAvailabilityClass(day)">

      </div>

    </ion-col>
  </ion-row>

  <div class="legend">
    <div class="legendItem">Busy <ion-icon name="remove-outline" color="warning"></ion-icon></div>
    <div class="legendItem">Little left <ion-icon name="remove-outline" color="danger"></ion-icon></div>
  </div>

</ion-grid>

<ion-toast
        [isOpen]="isToastOpen"
        message="There are no available times for this date."
        [duration]="2000"
        (didDismiss)="setOpen(false)"
></ion-toast>