<ion-grid class="ion-no-padding" style="height: 70%;"> 
  <ion-row class="header">
      <ion-icon name="caret-back-outline" color="secondary" (click)="prevMonth()"></ion-icon>
      <div style="margin: 0rem 1.3rem;">{{currentMonth | date: 'MMMM yyyy'}}</div>
      <ion-icon name="caret-forward-outline" color="secondary" (click)="nextMonth()"></ion-icon>
  </ion-row>

  <ion-row>
    <ion-col *ngFor="let weekday of weekDays" class="weekDays">
      {{weekday}}
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let week of daysInMonth" [style.height]="calcHeightWeek()">
    <ion-col *ngFor="let day of week" [class]="day==0 || day<=startDay?'dayUnavaiable':'dayAvaiable'">
      <div *ngIf="day!=0" [class]="day==startDay?'dayHeader startDay':'dayHeader'">
        {{day}}
      </div>
    </ion-col>
  </ion-row>

</ion-grid>