
.header{
    font-size: 1.5rem;
    padding: 1rem;
}

ion-col{
    text-align: center;
}

.weekDays{
    box-shadow: 0 0 0.5px 0.5px var(--ion-color-tertiary);
}

.dayCol{
    box-shadow: 0 0 0.5px 0.5px var(--ion-color-tertiary);
}

.dayHeader{
    padding-top: 10px;
}
