<div>
  <div class="divider-calendar" style="margin-bottom: 1rem;"></div>
  <div style="margin: 0px 1rem;">

  <ion-grid class="ion-no-padding"> 

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <div style="font-size: 16px;font-weight: 700;">{{currentMonth | date: 'MMMM yyyy'}}</div>
      <div style="display: flex;align-items: center;gap:1.2rem">
        <div class="monthIconContainer">
          <ion-icon name="chevron-back-outline" (click)="prevMonth()" class="changeMonthIcon" style="padding-left: 3px;"></ion-icon>
          <div class="divider"></div>
          <ion-icon name="chevron-forward-outline" (click)="nextMonth()" class="changeMonthIcon" style="padding-right: 3px;"></ion-icon>
        </div>
      </div>
    </ion-row>
    
    <div style="margin-top: 0.8rem">

      <ion-row class="daysContainer">
        <ion-col *ngFor="let weekday of weekDays" class="weekDays">
          {{weekday}}
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let week of daysInMonth;let i=index" class="daysContainer">
        <ion-col *ngFor="let day of week;let j=index" class="days" (click)="showTimes(day)">
          <div *ngIf="day!=0" [ngClass]="generateDayClass(day,i,j)">
            {{day}}
          </div>
        </ion-col>
      </ion-row>

    </div>
  </ion-grid>

  </div>
  <div class="divider-calendar" style="margin-top: 1rem;"></div>
</div>

<div class="legend">
  <div class="legendItem">
    <div class="busyCircle"></div>
    Busy
  </div>
  <div class="legendItem">
    <div class="littleCircle"></div> 
    Little left
  </div>
</div>

<div style="margin-bottom: 4px;font-size: 16px;font-weight: 600;color: #5C5959;margin-left: 16px;">
  All available times for {{selectedDay}}th {{selectedMonth | date: 'MMMM'}}
</div>

<div class="times" style="margin-left: 1.2rem;">
  <ng-container *ngFor="let time of availableTimes; let i = index">
    <div
      class="timeItem"
      *ngIf="time!='0'"
      (click)="choosenTime($event, i)"
      [ngClass]="{'selected': selectedTimeIndex === i}"
    >
      {{time}}
    </div>
  </ng-container>
</div>

<div class="navigate-buttons">
  <button class="back-button">
    <ion-icon name="chevron-back-outline" style="font-size:16px;color:var(--ion-color-primary)"></ion-icon>
    Services
  </button>
  <button class="forward-button" (click)="openModal()">
    Continue
    <ion-icon name="chevron-forward-outline" style="font-size:16px;color:white"></ion-icon>
  </button>
</div>

<ion-toast
        [isOpen]="isToastOpen"
        message="There are no available times for this date."
        [duration]="2000"
        (didDismiss)="setOpen(false)"
></ion-toast>

<!-- <div style="display: flex;justify-content: center;">
  <div *ngIf="showSpinner" style="margin-top: 1.6rem;position: absolute;bottom: 10px;">
    <ion-spinner color="blue"></ion-spinner>
  </div>
  <ion-button *ngIf="!showSpinner" expand="block" class="ion-button-form" style="width: 80%;margin-top: 1.6rem;position: absolute;bottom: 10px;" (click)="createAppointment()">
    Make appointment
  </ion-button>
</div> -->

<ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <div class="block">
      <div class="block1">
        <div><b>Barber: </b>{{barberInfo.FirstName}} {{barberInfo.LastName}}</div>
        <div class="services">
          <span class="services-title">Services:</span>
          <ul class="services-list">
            <li *ngFor="let service of servicesInfo">{{service.Name}}</li>
          </ul>
        </div>
        <div><b>Total duration: </b>{{appDuration}} min</div>
        <div><b>Total cost: </b>{{totalPrice}} RSD</div>
      </div>

      <div>
        <button class="confirm-button">Confirm</button>
        <button class="change-button" (click)="closeModal()">Change</button>
      </div>

    </div>
  </ng-template>
</ion-modal>
