<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="font-weight: 600;">Reset password</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div *ngIf="showError">
          <ion-text color="danger">{{responseMessage}}</ion-text>
        </div>

        <div *ngIf="showError==false && responseMessage!=''">
          <ion-text color="success">{{responseMessage}}</ion-text>
        </div>
      
      <form #passwordForm="ngForm" (ngSubmit)="sendLinkPassword(passwordForm)">

        <ion-input label="Email" labelPlacement="floating" placeholder="" fill="outline" type="email" 
        required email ngModel name="Email" 
        pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"></ion-input>
        
        <ion-button expand="block" type="submit" class="send-button" [disabled]="passwordForm.invalid">
            Send
        </ion-button>
      </form>     
      </ion-card-content>
      <ion-button class="ion-float-left" fill="clear" expand="block" style="text-transform: initial;margin-left: 7px;" routerLink="/login" routerDirection="back">Login here</ion-button>
    </ion-card>
  </div>
</ion-content>
