
.message{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 18px;
}

.cancel{
    position: relative;
    right: -95%;
    top:5px;
    color: white;
}

ion-modal {
    --height: 200px;
    --width:80%;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
ion-modal ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
  }

.app-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    padding:10px 1rem;
    width: 100%;
}

.app-info{
    display: flex;
    align-items: center;
    gap:1rem;
}

.pic{
    min-height: 57px;
    min-width: 57px;
}

.pic img{
    height: 57px;
    width: 57px;
    border-radius: 50%;
}

.service-price{
    text-align: right;
    width: 25%;
}


p{
    margin: 0;
}
