
<div *ngIf="!latestAppointment" class="message">
  <b>You don’t have upcoming appointments</b>
</div>

<div *ngIf="latestAppointment" class="message">
  <b>Your upcoming appointment</b>
</div>

<div *ngIf="latestAppointment" class="card">

  <div class="card-image">
    <ion-img src="../../../../assets/images/maleBarber.jpg" alt="barber image"></ion-img>
  </div>

  <div class="card-body">
    <h1>{{latestAppointment.Date | date: 'd MMMM yyyy'}}</h1>
    <p>Time: {{latestAppointment.StartTime}}</p>
    <p>Barber: {{latestAppointment.Barber.FirstName}} {{latestAppointment.Barber.FirstName}}</p>
  </div>
  
</div>