
.container{
    margin: 0px 20px;
}

.date-picker{
    margin-top: 1rem;
}

ion-datetime-button{
    margin-top: 5px;
}

ion-datetime-button::part(native){
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--ion-color-primary);
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    height: 50px;
    width: 90%;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 16px;

    &::after {
        content: 'V';
        font-size: 1rem;
        color: var(--ion-color-primary);
    }
}


.divider{
    border-bottom: 1px solid #C3C1C0;
}

.app-cont{
    margin-top: 1rem;
}

ion-spinner{
    color: var(--ion-color-secondary);
    height: 38px;
    width: 38px;
}