
.container{
    margin: 0px 30px;
}

.date-picker{
    margin-top: 1rem;
}

ion-datetime-button{
    margin-top: 5px;
}

ion-datetime-button::part(native){
    color:white;
    background-color: var(--ion-color-primary);
    width: 80%;
}

.card{
    max-width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #dea93e;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 1rem;
    border-radius: 8px;
    margin: 6px 10px;
}

.card-image ion-img{
    height: 60px;
    width: 60px;
    margin-left: 1rem;
}

.card-image ion-img::part(image){
    border-radius: 50%;
}

.card-body{
    color: white;
}

.card-body p{
    margin: 4px;
}