<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>

    <h1 style="margin-bottom: 1rem;margin-left: 35px;">Appointments</h1>

    <div style="margin-top: 2rem;">
      <div class="divider" style="margin-bottom: 1rem;"></div>
      <div style="margin: 0px 1rem;"><app-reservation-calendar (selectedDateUser)="selectedDateUser($event)"></app-reservation-calendar></div>
      <div class="divider" style="margin-top: 1rem;"></div>
    </div>

  <div class="container">
    <div *ngIf="empty && showSpinner==false" style="margin-top: 1.7rem;display: flex;flex-direction: column;align-items: center;">
      <h1 style="color:gray;font-size: 18px;text-align: justify;text-align-last: center;font-weight: 600;width: 80%;">
        There is no appointments for selected date
      </h1>
      <img src="../../../assets/images/Nothing Found.png" style="width: 100px;height: 100px;">
    </div>

    <div *ngIf="showSpinner==true" style="margin-top: 3.5rem;display: flex;flex-direction: column;align-items: center;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div class="app-cont">
      <ng-container *ngFor="let app of appointments">
      <app-appointment-card [appointmnet]="app.Value"></app-appointment-card>
      </ng-container>
    </div>

    


  </div>
</ion-content>
