<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>
  
    <h1 style="margin-bottom: 1rem;margin-left: 35px;">Appointments</h1>

    <div style="margin-top: 2rem;">
      <div class="divider" style="margin-bottom: 1rem;"></div>
      <div style="margin: 0px 1rem;"><app-reservation-calendar (selectedDateUser)="selectedDateUser($event)"></app-reservation-calendar></div>
      <div class="divider" style="margin-top: 1rem;"></div>
    </div>

  <div class="container">
    <div *ngIf="empty" style="font-weight: 600;margin-top: 2rem;">
      <h1 style="color:gray;font-size: 20px;">There is no appointments for selected date</h1>
    </div>

    <div class="app-cont">
      <ng-container *ngFor="let app of appointments">
        <div class="card">
          <div class="card-image">
            <ion-img src="../../../../assets/images/maleBarber.jpg" alt="barber image"></ion-img>
          </div>
        
          <div class="card-body">
            <p><b>Time:</b> {{getFormattedTime(app.Value.StartTime) | date: 'h:mm a'}} </p>
            <p><b>Barber:</b> {{app.Value.Barber.FirstName}} {{app.Value.Barber.LastName}}</p>
            <p><b>Price:</b> {{app.Value.Price}} RSD</p>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</ion-content>
