
.container{
    margin: 0px 30px;
}

.date-picker{
    margin-top: 1rem;
}

ion-datetime-button{
    margin-top: 5px;
}

ion-datetime-button::part(native){
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--ion-color-primary);
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    height: 50px;
    width: 90%;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 16px;

    &::after {
        content: 'V';
        font-size: 1rem;
        color: var(--ion-color-primary);
    }
}

.card{
    max-width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #dea93e;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 1rem;
    border-radius: 8px;
    margin: 6px 10px;
}

.card-image ion-img{
    height: 60px;
    width: 60px;
    margin-left: 1rem;
}

.card-image ion-img::part(image){
    border-radius: 50%;
}

.card-body{
    color: white;
}

.card-body p{
    margin: 4px;
}