<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login to your account</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input label="Email" labelPlacement="stacked" placeholder="" type="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="stacked" placeholder="" type="Password"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">LOGIN</ion-button>
        <div style="display: flex;flex-direction: column;"> 
        <ion-button fill="clear" expand="full" type="submit" style="align-self: flex-start;">Forgot your password?</ion-button>
        <ion-button fill="clear" expand="full" type="submit" style="align-self: flex-start;">Register here</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
