<ion-content [fullscreen]="true">

  <div class="header">
    <div class="header-text">
      Choose your barber
      <p style="font-size: 16px;color:#A1A1A1;font-weight: normal;margin:0px;">Next: Choose services</p>
    </div>
    <div>
      <img src="../../../../assets/images/1step.png">
    </div>
  </div>

  <div *ngIf="showSpinner==true" style="margin-top: 3rem;display: flex;flex-direction: column;align-items: center;">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div class="barbers-container" [style.display]="allLoaded ? 'flex' : 'none'">
    <div [ngClass]="barberId==barber.Value.BarberId?'barber-card selected-card':'barber-card'" 
    *ngFor="let barber of barbers" (click)="selectCard(barber)">
      <div class="barber-header">
        <img [src]="barber.Value.ImageUrl" (load)="onImageLoad()">
        <p style="font-size: 12px;font-weight: 600;margin:4px 0px;">{{barber.Value.FirstName}} {{barber.Value.LastName}}</p>
      </div>
      <div class="divider"></div>
      <div class="barber-body">
        <p>Phone: {{barber.Value.PhoneNumber}}</p>
        <p>Time: {{barber.Value.StartWorkingHours}} - {{barber.Value.EndWorkingHours}}</p>
      </div>
    </div>
  </div>

</ion-content>
<div class="navigate-buttons" (click)="navigateToServices()">
  <button [ngClass]="barberId!=0?'forward-button':'forward-button disabled-button'">
    Confirm and continue
    <ion-icon name="chevron-forward-outline" style="font-size:16px;color:white"></ion-icon>
  </button>
</div>
