<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>barber-page</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>
  <div class="container">
    <div style="width: 100%;display: flex;justify-content: space-between;align-items: center;margin-top: 5px;">
      <ion-input label="Barber name" labelPlacement="floating" placeholder="" type="text"
      ngModel name="barberName" #barberName="ngModel" fill="outline"></ion-input>
      <ion-button (click)="filterServices(barberName.value)" style="font-size: 0.9rem;">Filter</ion-button>
    </div>


    <app-barber-cards [barbers]="barbers"></app-barber-cards>
    <ion-button (click)="getPrevPage()" [disabled]="!prevPage"><<</ion-button>
    <ion-button (click)="getNextPage()" [disabled]="!nextPage">>></ion-button>
  </div>
</ion-content>
