<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>barber-page</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>
  <div class="container">
    <h1>Barbers</h1>
    <div style="width: 100%;margin-top: 5px;">
      <div style="padding: 0px 14px;margin-top: 1.2rem;margin-bottom: 2rem;">
        <ion-input placeholder="Find a barber" type="text"
        ngModel name="barberName" #barberName="ngModel" fill="outline" class="ion-input-form" (ionInput)="onInput($event)"
        (keyup.enter)="onEnter($event,barberName.value)">
            <ion-icon slot="start" name="search-outline" aria-hidden="true" style="font-size: 1.5rem;"
              (click)="filterBarbers(barberName.value)">
            </ion-icon>
        </ion-input>
      </div>
    </div>

    <p *ngIf="noBarbersMessage==true" style="color:gray;font-size: 20px;">There is no barber named {{barberName.value}}</p>

    <app-barber-cards [barbers]="barbers"></app-barber-cards>
    <ng-container *ngIf="barbers.Value.length>1">
      <ion-button (click)="getPrevPage()" [disabled]="!prevPage"><<</ion-button>
      <ion-button (click)="getNextPage()" [disabled]="!nextPage">>></ion-button>
    </ng-container>
  </div>
</ion-content>
<div class="add-barber">
  <ion-icon name="add-circle" style="font-size: 56px;color:var(--ion-color-primary)"></ion-icon>
</div>
