<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>barber-page</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>
  <h1 style="margin-left: 35px;">Barbers</h1>
  <div style="width: 100%;margin-top: 5px;">
      <div style="margin-top: 1.2rem;margin-bottom: 2rem;margin-left: 1rem;margin-right: 1rem;">
        <ion-input placeholder="Find a barber" type="text"
        ngModel name="barberName" #barberName="ngModel" fill="outline" class="ion-input-form search-input" (ionInput)="onInput($event)"
        (keyup.enter)="onEnter($event,barberName.value)">
            <ion-icon slot="end" name="search-outline" aria-hidden="true" class="search-icon"
              (click)="filterBarbers(barberName.value)">
            </ion-icon>
        </ion-input>
      </div>
  </div>

  <div class="container">
    <div *ngIf="noBarbersMessage==true" style="margin-top: 1.7rem;display: flex;flex-direction: column;align-items: center;">
      <h1 style="color:gray;font-size: 18px;text-align: justify;text-align-last: center;font-weight: 600;width: 80%;">
        There is no barber named {{barberName.value}}
      </h1>
      <img src="../../../assets/images/Nothing Found.png" style="width: 100px;height: 100px;">
    </div>
    
    <app-barber-cards [barbers]="barbers"></app-barber-cards>
    <ng-container *ngIf="barbers.Value.length>1">
      <ion-button (click)="getPrevPage()" [disabled]="!prevPage"><<</ion-button>
      <ion-button (click)="getNextPage()" [disabled]="!nextPage">>></ion-button>
    </ng-container>
  </div>

</ion-content>
<div class="add-barber">
  <ion-icon name="add-circle" style="font-size: 56px;color:var(--ion-color-primary)" (click)="createBarberPage()"></ion-icon>
</div>

<div class="pagination-cont">
  <ion-icon name="chevron-back-outline" (click)="getPrevPage()"></ion-icon>
  <div class="page-numbers">
    <ng-container *ngFor="let i of [].constructor(maxPages); let index = index">
      <div [ngClass]="index+1==selectedPage?'page selected':'page'" *ngIf="index<3" (click)="changePage(index+1)">
        {{index+1}}
      </div>
      <div  *ngIf="index==3">
         ... 
      </div>
      <div [ngClass]="index+1==selectedPage?'page selected':'page'" *ngIf="maxPages>3 && index+1==maxPages">
        {{index+1}}
      </div>
    </ng-container>
  </div>
  <ion-icon name="chevron-forward-outline" (click)="getNextPage()"></ion-icon>
</div>
