<ion-modal #modal [isOpen]="isOpen" (willDismiss)="onWillDismiss($event)">

  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>Reset password</ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>

      <div style="margin-top: 2rem;width: 100%;display: flex; align-items: center; justify-content: center;flex-direction: column;">
        <div style="margin-bottom: 1rem;width: 90%;">
          <div *ngIf="showError">
            <ion-text color="danger">{{responseMessage}}</ion-text>
          </div>
  
          <div *ngIf="showError==false && responseMessage!=''">
            <ion-text color="success">{{responseMessage}}</ion-text>
          </div>
        </div>

        <form #passwordForm="ngForm" (ngSubmit)="sendLinkPassword(passwordForm)" style="width: 90%;">

          <ion-input label="Email" labelPlacement="floating" placeholder="" fill="outline" type="email" 
          required email ngModel name="Email" 
          pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"></ion-input>
          
          <ion-button expand="block" type="submit" class="ion-button-form" [disabled]="passwordForm.invalid">
              Send
          </ion-button>
        </form>
    </div>
    </ion-content>
  </ng-template>
</ion-modal>