<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>service-details</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="flex-center">
    <div class="flex-container">
      <h1>Create service</h1>

      <form #serviceForm="ngForm" (ngSubmit)="saveService(serviceForm)">
        <ion-input label="Name" labelPlacement="floating" fill="outline" placeholder="" type="text" 
        required minlength="2" [(ngModel)]="Name" name="Name" class="ion-input-form"></ion-input>

        <ion-input label="Price(RSD)" labelPlacement="floating" fill="outline" placeholder="" type="number" 
        required min="1" [(ngModel)]="Price" name="Price" class="ion-input-form"></ion-input>

        <ion-input label="Duration(min)" labelPlacement="floating" fill="outline" placeholder="" type="number" 
        required min="1" [(ngModel)]="Duration" name="Duration" class="ion-input-form"></ion-input>

        <ion-select label="Category" interface="popover" placeholder="Select category" [(ngModel)]="ServiceCategory" name="ServiceCategory" fill="outline">
          <ion-select-option *ngFor="let item of serviceCategories" [value]="item.Id" >{{item.Name}}</ion-select-option>
        </ion-select>


        <ion-button expand="block" type="submit" [disabled]="serviceForm.invalid || ServiceCategory==0" class="ion-button-form">
          <div *ngIf="showSpinner">
            <ion-spinner></ion-spinner>
          </div>
          <div *ngIf="!showSpinner">
            Save
          </div>
        </ion-button>
      </form>
    </div>
  </div>

  
</ion-content>
