
<ion-content [fullscreen]="true">

  <ion-img src="../../../../assets/images/Left.png" class="back" (click)="navigateBack()"></ion-img>

  <div class="container">
      <h1>{{title}}</h1>

      <form #serviceForm="ngForm" (ngSubmit)="saveService(serviceForm)">
        <ion-input label="Name" labelPlacement="floating" fill="outline" placeholder="" type="text" 
        required minlength="2" [(ngModel)]="Name" name="Name" class="ion-input-form"></ion-input>

        <ion-input label="Price(RSD)" labelPlacement="floating" fill="outline" placeholder="" type="number" 
        required min="1" [(ngModel)]="Price" name="Price" class="ion-input-form"></ion-input>

        <ion-input label="Duration(min)" labelPlacement="floating" fill="outline" placeholder="" type="number" 
        required min="1" [(ngModel)]="Duration" name="Duration" class="ion-input-form"></ion-input>

        <ion-select label="Category" interface="popover" placeholder="Select category" [(ngModel)]="ServiceCategory" name="ServiceCategory" fill="outline">
          <ion-select-option *ngFor="let item of serviceCategories" [value]="item.Id" >{{item.Name}}</ion-select-option>
        </ion-select>


        <ion-button expand="block" type="submit" [disabled]="serviceForm.invalid || ServiceCategory==0" class="ion-button-form">
          <div *ngIf="showSpinner">
            <ion-spinner></ion-spinner>
          </div>
          <div *ngIf="!showSpinner">
            {{title.split(" ")[0]}}
          </div>
        </ion-button>

        <ion-button id="present-alert" expand="block" [disabled]="serviceForm.invalid || ServiceCategory==0" class="ion-button-form"
        *ngIf="DeleteLink" style="--background: #DE4040;">
          <div *ngIf="showDeleteSpinner">
            <ion-spinner></ion-spinner>
          </div>
          <div *ngIf="!showDeleteSpinner">
            Delete
          </div>
        </ion-button>

      </form>
  </div>

  
</ion-content>


<ion-alert
  *ngIf="Name!='' && UpdateLink!=undefined"
  trigger="present-alert"
  header="Are you sure you want to delete a service?"
  [buttons]="alertButtons"
></ion-alert>
