.toolbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    z-index: 2;
}

.logo{
    display: block;
    height: 45px;
    width: 45px;
}

.profile{
    display: block;
    height: 45px;
    width: 45px;
}