.navigate-buttons{
    position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem;
    width: 100%;
    gap: 10px;
    margin-top: 1rem;
}

.back-button{
    border-radius: 8px;
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-primary);
    text-transform: initial;
    font-size: 16px;
    height: 46px;
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6px;
}

.forward-button{
    border-radius: 8px;
    background-color: var(--ion-color-primary);
    color: white;
    text-transform: initial;
    font-size: 16px;
    height: 46px;
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6px;
}

.disabled-button{
    background-color:#F2B566;
}

.confirm-button{
    width: 100%;
    border-radius: 8px;
    background-color: var(--ion-color-primary);
    color: white;
    text-transform: initial;
    font-size: 16px;
    height: 46px;
    margin-bottom: 10px;
}

.header{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.header-text{
    font-size: 20px;
    font-weight: 600;

}

.category-container{
    display: flex;
    gap:10px;
    margin-bottom: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
}

.category-block{
    color: var(--ion-color-primary);
    border:1px solid var(--ion-color-primary);
    border-radius: 8px;
    height: 33px;
    padding: 12px 12px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.category-block.selected{
    color: white;
    background-color: var(--ion-color-primary);
}

.service-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 0px 1rem;
    height: 65px;
}

.service-info{
    display: flex;
    align-items: center;
    gap:1rem;
}

p{
    margin: 0;
}

swiper-slide {
    padding: 0px 10px;
}

.service-navigation{
    font-size: 12px;
    color:var(--ion-color-primary);
    margin: 0 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.service-navigation ion-icon{
    font-size: 14px;
}