<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>service-page</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>

  <h1 style="margin-left: 35px;">Services</h1>
  <div style="width: 100%;margin-top: 5px;">
    <div style="margin-top: 1.2rem;margin-left: 1rem;margin-right: 1rem;">
      <ion-input placeholder="Find a service" type="text"
      ngModel name="serviceName" #serviceName="ngModel" fill="outline" (ionInput)="onInput($event)"
      (keyup.enter)="onEnter($event,serviceName.value,selectedCategory)" class="ion-input-form search-input">
        <ion-icon slot="end" name="search-outline" aria-hidden="true" class="search-icon"
        (click)="filterServices(serviceName.value,selectedCategory)">
        </ion-icon>
      </ion-input>
    </div>
  </div>

  <div class="content"> 

    <ion-select label="Categories" placeholder="See All" [(ngModel)]="selectedCategory" 
    (ionChange)="filterServices(serviceName.value,selectedCategory)" style="margin-top: -10px;">
      <ion-select-option value="all">All</ion-select-option>
      <ion-select-option *ngFor="let item of serviceCategories" [value]="item.Name" >{{item.Name}}</ion-select-option>
    </ion-select>

    <div class="category-container">
      <div [ngClass]="selectedCategory == 'all' ? 'category-block selected' : 'category-block'"
      (click)="changeCategory(serviceName.value,'all')">
        All
      </div>
      <div [ngClass]="selectedCategory == category.Name ? 'category-block selected' : 'category-block'" 
      *ngFor="let category of serviceCategories" (click)="changeCategory(serviceName.value,category.Name)">
        {{category.Name}}
      </div>
    </div>

    <div *ngIf="noServicesMessage==true" style="margin-top: 1.7rem;display: flex;flex-direction: column;align-items: center;">
      <h1 style="color:gray;font-size: 18px;text-align: justify;text-align-last: center;font-weight: 600;width: 80%;">
        There is no service named {{serviceName.value}}
      </h1>
      <img src="../../../assets/images/Nothing Found.png" style="width: 100px;height: 100px;">
    </div>

    <app-service-cards [services]="services"></app-service-cards>
    
  </div>

</ion-content>
<div class="add-service">
  <ion-icon name="add-circle" style="font-size: 56px;color:var(--ion-color-primary)" (click)="showAddBarber()"></ion-icon>
</div>

<div class="pagination-cont">
  <ion-icon name="chevron-back-outline" (click)="getPrevPage()"></ion-icon>
  <div class="page-numbers">
    <ng-container *ngFor="let i of [].constructor(maxPages); let index = index">
      <div [ngClass]="index+1==selectedPage?'page selected':'page'" *ngIf="index<3" (click)="changePage(index+1)">
        {{index+1}}
      </div>
      <div  *ngIf="index==3">
         ... 
      </div>
      <div [ngClass]="index+1==selectedPage?'page selected':'page'" *ngIf="maxPages>3 && index+1==maxPages">
        {{index+1}}
      </div>
    </ng-container>
  </div>
  <ion-icon name="chevron-forward-outline" (click)="getNextPage()"></ion-icon>
</div>