<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>service-page</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>
  <div class="content"> 

  <ion-select label="Category" interface="popover" placeholder="Select category" [(ngModel)]="selectedCategory">
    <ion-select-option [value]="">None</ion-select-option>
    <ion-select-option *ngFor="let item of serviceCategories" [value]="item.Name" >{{item.Name}}</ion-select-option>
  </ion-select>
  <div style="width: 100%;display: flex;justify-content: space-between;align-items: center;margin-top: 5px;">
    <ion-input label="Service name" labelPlacement="floating" placeholder="" type="text"
    ngModel name="serviceName" #serviceName="ngModel" fill="outline"></ion-input>
    <ion-button (click)="filterServices(serviceName.value,selectedCategory)" style="font-size: 0.9rem;">Filter</ion-button>
  </div> 


  <app-service-cards [services]="services"></app-service-cards>
  
  <ion-button (click)="getPrevPage()" [disabled]="!prevPage"><<</ion-button>
  <ion-button (click)="getNextPage()" [disabled]="!nextPage">>></ion-button>
  <ion-button routerLink="details/0" class="ion-float-right" style="font-size: larger;">+</ion-button>
  </div>

</ion-content>
