/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.flex-center{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    width: 100%;
    margin: 0 30px;
}

ion-content{
    --background: #EDE9E7;
}

.ion-input-form{
    margin-bottom: 15px;
    --background:white !important;
    --border-radius:13px !important;
    --border-width:0px;
    font-size: 0.9rem;
    --highlight-color-valid:var(--ion-color-primary);
}

.ion-button-form{
    margin-top: 20px;
    height: 45px;
    --color:white;
    --border-radius:8px;
    font-size: 1rem;
    text-transform: initial;
}

h1{
    font-size: 32px;
    font-weight: 700 !important;
    margin-top: 1rem;
}

.search-icon{
    font-size: 2.5rem;
    --ionicon-stroke-width: 3rem;
    color: white;
    background-color: var(--ion-color-primary);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 10px;
}

.ion-input-form.search-input{
    --border-radius: 24px !important;
}