ion-content{
    --background: #f4f4f4;
}

.container{
    max-width: 100%;
}

.content{
    max-width: 100%;
    margin: 0 25px;
}

ion-tab-bar{
    border-radius: 15px 15px 0px 0px;
    height: 80px;
}

h1{
    font-weight: 600;
}

ion-tab-button ion-img{
    height: 45px;
    width: 45px;
}