
<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>
  <div class="container">
    <div class="content">
      <div *ngIf="user?.Role=='Admin'">
        <h1>Welcome!</h1>
      </div>

      <div *ngIf="user?.Role!='Admin'" style="margin-top: 50px;">
        <h1 style="font-size: 32px;">Hello {{user?.FirstName}}!</h1>
        <app-latest-appointment></app-latest-appointment>
        <ion-button expand="block" routerLink="/home/appointment/choose-barbers" class="ion-button-form" style="margin: 20px 0px;">Make appointment</ion-button>
      </div>

    </div>
  </div>

 </ion-content>

 <ion-tabs *ngIf="user?.Role=='Admin'">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="service" style="margin-left: 1rem;">
      <ion-img src="../../assets/images/serviceTabUS.png" (click)="changeIcon($event)"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="barber">
      <ion-img src="../../assets/images/barberTabUS.png" (click)="changeIcon($event)"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="reservations" style="margin-right: 1rem;">
      <ion-img src="../../assets/images/appointmentTab.png" (click)="changeIcon($event)" class="default"></ion-img>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
