<ion-content [fullscreen]="true">
  <div class="container">
    <app-toolbar></app-toolbar>
    <div class="content">
      <div *ngIf="user?.Role=='Admin'">
        <h1>Welcome!</h1>
      </div>

      <div *ngIf="user?.Role!='Admin'" style="margin-top: 50px;">
        <h1 style="font-size: 32px;">Hello {{user?.FirstName}}!</h1>
        <app-latest-appointment></app-latest-appointment>
        <ion-button expand="block" routerLink="/home/appointment" class="ion-button-form" style="margin: 20px 10px;">Make appointment</ion-button>
      </div>

    </div>
  </div>

  <ion-tabs *ngIf="user?.Role=='Admin'">
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="tabs/service">
        <ion-img src="../../assets/images/serviceTab.png"></ion-img>
      </ion-tab-button>

      <ion-tab-button tab="tabs/barber">
        <ion-img src="../../assets/images/barberTab.png"></ion-img>
      </ion-tab-button>

      <ion-tab-button tab="tabs/nothing">
        <ion-img src="../../assets/images/appointmentTab.png"></ion-img>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
